@import '../../styles/variables';

.sort_list_block {
    display: flex;
    margin: 30px;
    flex-direction: column;
    
}

.sort_list_label {
    /**/
}

.sort_list_select_wrapper {
    display: flex;
    flex-direction: column;
}

.sort_list_select {
    align-self: flex-start;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $fontLineHeight;
    white-space: nowrap;
    margin-top: 10px;
    color: $fontColor2;
    background-color: $backgroundColor4;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;

    &:hover {
        cursor: pointer;    
    }
}