@import '../../styles/variables';

.sort_list_block {
    display: flex;
    margin: 30px;
    flex-direction: column;
    
}

.sort_list_label {
    /**/
}

.sort_list_select_wrapper {
    display: flex;
    flex-direction: column;
}

.sort_list_select {
    /**/
}