.user_form {
    display: flex;
    flex-direction: column;
}

.user_form_tooltip {
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    button {

        &:disabled {
            background-color: #AFAFAF;
        }
    }
}

.user_form_fields {
    display: flex;
    flex-direction: column;
    border:1px solid #F3F3F3;
    padding: 20px 6px 20px 12px;
    
    label {
        font-size: 8px;
        line-height: 9px;
        margin-bottom: 3px;
    }

    input {
        font-size: 10px;
        line-height: 12px;
        width: 211px;
        margin-bottom: 10px;
        padding: 5px 5px 5px 10px;
        box-sizing: border-box;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        &:disabled {
            opacity: 30%;
        }

        &.error_field {
            border: 1px solid red;
        }
    }

    textarea {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
        padding: 5px 5px 5px 10px;
        box-sizing: border-box;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        min-height: 55px;
        resize: vertical;
        &:disabled {
            opacity: 30%;
        }
    }
}

