@import './variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $fontFamily;
}

button {
    align-self: flex-start;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $fontLineHeight;
    white-space: nowrap;
    margin-top: 10px;
    color: $fontColor2;
    background-color: $backgroundColor4;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;

    &:hover {
        cursor: pointer;    
    }
}