@import '../styles/variables';

.app {
    display: flex;
}

.sort_block {
    min-width: 150px;
    background-color: $backgroundColor1;
    flex-grow: 1;
}

.content_block {
    padding-top: 19px;
    padding-left: 34px;
    padding-right: 41px;
    flex-grow: 20;
    background-color: $backgroundColor2;
}